.nav {
  display: flex;
  width: 100%;
  /* height:80px; */
  align-items: center;
  justify-content: space-between;
}
.loading{
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;

}
body .dark {
  color: #ffffff;
  background-color: #151d2f;
  min-height: 110vh;
}

body .light {
  color: #333;
 min-height: 110vh;
 background-color: red;
  background: #f7f8fe;
}

.dark {
  color: #ffffff;
  /* width:100%; */
  /* height:100vh; */
}

.dark * {
  color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content input {
  margin: 0 auto;
  width: 65%;
  /* width:100%; */
}

.content .card {
  width: 53%;
  margin: 25px auto;
  height: 50vh;
  border-radius: 10px;
  border: none;
  min-height:100vh;
  /* background: none; */
  padding: 20px 10px;
}

.dark .content .card {
  background-color: #1e2a47;
  min-height:100vh;
}

.card-header{
  display:flex;
  border: none;
  background-color: transparent;
  /* flex-wrap: wrap; */
  width:100%;

}

.card-header .avatar{
  width:20%;
  height:20%;
}
.dark .card-header .general-info p{
  color:#ffffff;
  }

  .dark .card-header .general-info a{
    color:#0178FF;
  }

  .status{
    padding-left: 15px;
  }

  .section-info{
    display: flex;
    background-color: #F6F9FE;

  }

  .dark .section-info{
    background-color: #141D2F;
  }

@media (max-width: 639px) {

  body .light {
    min-height: 130vh;
  }
  body .dark{
    min-height: 130vh;
  }
  .nav {
    justify-content: space-between;
  }
  .content {
    padding: 15px;
  }
  .content .card {
    width: 100%;
  }

  .card-header{
    flex-wrap: none;
    /* flex-direction: column; */
  }

  .card-header .avatar{
    width:30%;
    height:30%;
    padding:0;
    margin-right: 20px;
  }

  .card-header .general-info h1{
    font-size: 22px;
    font-weight: 600;
  }

  .status{
    padding:0;
    margin:15px;
  }

  .section-info{
    margin-top: 10px;
    display:flex;
    padding:5px;
    flex-wrap: wrap;
    /* height:15vh;
    bord */
    border-radius: 10px;
    background-color: #F6F9FE;
  }

  .section-info .repo{
    padding-left: 21px;
    /* padding:0 15px; */
  }

  .section-info .repo p{
    font-size: 20px;
  }

  .dark .section-info{
    background-color: #141D2F;
  }

  .contact-info{
    display:flex;
    flex-direction: column;
  }

  .contact-info .contact{
    display:flex;
    align-items: center;
    /* justify-content:flex-start; */
    text-align: center;
  }

  .contact-info .contact p{
    margin:10px 0;
    padding-left: 15px;
  }

  
}
